<img src="Pics/fotoweb.png" width="1300" height="240" horizontal-align:left margin-left:-100 />
<br />
<br />
<br />
<h6 style="font-size:50px;">
    Collecting Rage Web App Functions
    <small class="text-body-secondary">explained in small steps</small>
</h6>
<br />

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Categories
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <p class="lead">- 1 : In the Navigation Bar you can see multiple option to choose from. Choose "Categories"</p>
                <p class="lead">- 2 : Click on "Create New" Button and after that, fill in the requested data. (Name + Description)</p>
                <p class="lead">- 3 : After correctly filling in all data, click on the "Create" button.</p>
                <p class="lead">- 4 : You will now be redirected to the index page of Categories where you will find a full list of all your Categories.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collections
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <p class="lead">- 1 : In the Navigation Bar you can see multiple option to choose from. Choose "Collections"</p>
                <p class="lead">- 2 : Click on "Create New" Button and after that, fill in the requested data. (Name + Date Of Creation + Category Name)</p>
                <p class="lead">- 3 : After correctly filling in a Name, click on the "Calendar" icon displayed in the Date Of Creation section.</p>
                <p class="lead">- 4 : Click on the date you started your Collection, the time will be filled in automatically.</p>
                <p class="lead">- 5 : Click on the arrow icon displayed in the "Category Name" section and choose which Category your Collection will have.</p>
                <p class="lead">- 6 : After correctly filling in all data, click on the "Create" button.</p>
                <p class="lead">- 7 : You will now be redirected to the index page of Categories where you will find a full list of all your Categories.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Objects / Items
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p class="lead">- 1 : In the Navigation Bar you can see multiple option to choose from. Choose "Objects"</p>
                <p class="lead">- 2 : Click on "Create New" Button and after that, fill in the requested data. (Name + Description + Price + Worth + Collection Name)</p>
                <p class="lead">- 3 : After correctly filling in all data, click on the "Create" button.</p>
                <p class="lead">- 4 : You will now be redirected to the index page of Categories where you will find a full list of all your Categories.</p>
            </div>
        </div>
    </div>
</div>